In [53]:
import pandas as pd
import numpy as np
import pickle

from sklearn.preprocessing import MultiLabelBinarizer


pd.set_option('display.max_columns', 500)

In [48]:
with open('../data/processed/all_episodes.pkl', 'rb') as f:
    import_df = pickle.load(f)

In [49]:
import_df.shape

(1089243, 30)

In [50]:
import_df.drop(columns=['poster_path'], inplace=True)

In [51]:
import_df.head()

,created_by,episode_run_time,first_air_date,genres,id_show,in_production,last_air_date,name_show,networks,number_of_episodes,number_of_seasons,origin_country,original_language,original_name,popularity,production_companies,status,type,vote_average_show,vote_count_show,air_date,crew,episode_number,guest_stars,id_ep,name_ep,season_number,vote_average_ep,vote_count_ep
0,"[{'id': 383, 'credit_id': '525389d019c29579402...",[30],1969-01-12,NaN,601,True,1969-02-16,The Complete and Utter History of Britain,"[{'name': 'London Weekend Television', 'id': 1...",6.0,1,[GB],en,The Complete and Utter History of Britain,0.6,NaN,Ended,Scripted,0.0,0,1969-01-12,"[{'id': 10707, 'credit_id': '525389cd19c295794...",1.0,NaN,34326.0,From the Dawn of History to the Normal Conquest,1.0,0.0,0.0
1,"[{'id': 383, 'credit_id': '525389d019c29579402...",[30],1969-01-12,NaN,601,True,1969-02-16,The Complete and Utter History of Britain,"[{'name': 'London Weekend Television', 'id': 1...",6.0,1,[GB],en,The Complete and Utter History of Britain,0.6,NaN,Ended,Scripted,0.0,0,1969-01-19,"[{'id': 10707, 'credit_id': '525389cd19c295794...",2.0,NaN,34328.0,Richard the Lionheart to Robin the Hood,1.0,0.0,0.0
2,"[{'id': 383, 'credit_id': '525389d019c29579402...",[30],1969-01-12,NaN,601,True,1969-02-16,The Complete and Utter History of Britain,"[{'name': 'London Weekend Television', 'id': 1...",6.0,1,[GB],en,The Complete and Utter History of Britain,0.6,NaN,Ended,Scripted,0.0,0,1969-01-26,"[{'id': 10707, 'credit_id': '525389cd19c295794...",3.0,NaN,34327.0,Edward the First to Richard the Last,1.0,0.0,0.0
3,"[{'id': 383, 'credit_id': '525389d019c29579402...",[30],1969-01-12,NaN,601,True,1969-02-16,The Complete and Utter History of Britain,"[{'name': 'London Weekend Television', 'id': 1...",6.0,1,[GB],en,The Complete and Utter History of Britain,0.6,NaN,Ended,Scripted,0.0,0,1969-02-02,"[{'id': 10707, 'credit_id': '525389cd19c295794...",4.0,NaN,34331.0,Perkin Warbeck to Bloody Mary,1.0,0.0,0.0
4,"[{'id': 383, 'credit_id': '525389d019c29579402...",[30],1969-01-12,NaN,601,True,1969-02-16,The Complete and Utter History of Britain,"[{'name': 'London Weekend Television', 'id': 1...",6.0,1,[GB],en,The Complete and Utter History of Britain,0.6,NaN,Ended,Scripted,0.0,0,1969-02-09,"[{'id': 10707, 'credit_id': '525389cd19c295794...",5.0,NaN,34330.0,The Great and Glorious Age of Elizabeth,1.0,0.0,0.0

In [32]:
def convert_list_to_tuple(x):
    if type(x)==list:
        return tuple(x)
    else:
        return x

In [40]:
for col in import_df.columns:
    import_df[col] = import_df[col].apply(convert_list_to_tuple)

In [77]:
def extract_id(x):
    if x.isna():
        return []
    else:
        return [y['id'] for y in x]

In [78]:
import_df['crew_id'] = import_df.crew.apply(extract_id)

AttributeError: 'list' object has no attribute 'isna'

In [41]:
import_df.dtypes

created_by               object
episode_run_time         object
first_air_date           object
genres                   object
id_show                   int64
in_production              bool
last_air_date            object
name_show                object
networks                 object
number_of_episodes      float64
number_of_seasons         int64
origin_country           object
original_language        object
original_name            object
popularity              float64
production_companies     object
status                   object
type                     object
vote_average_show       float64
vote_count_show           int64
air_date                 object
crew                     object
episode_number          float64
guest_stars              object
id_ep                   float64
name_ep                  object
season_number           float64
vote_average_ep         float64
vote_count_ep           float64
dtype: object

In [42]:
import_df.isna().sum() / len(import_df)

created_by              0.584498
episode_run_time        0.113061
first_air_date          0.060515
genres                  0.306285
id_show                 0.000000
in_production           0.000000
last_air_date           0.053057
name_show               0.000000
networks                0.209724
number_of_episodes      0.000497
number_of_seasons       0.000000
origin_country          0.093677
original_language       0.000000
original_name           0.000000
popularity              0.000000
production_companies    0.669500
status                  0.000000
type                    0.000000
vote_average_show       0.000000
vote_count_show         0.000000
air_date                0.115473
crew                    0.874016
episode_number          0.026396
guest_stars             0.847868
id_ep                   0.026396
name_ep                 0.026396
season_number           0.026444
vote_average_ep         0.026396
vote_count_ep           0.026396
dtype: float64

In [79]:
len(import_df[import_df.vote_count_ep>0]) / len(import_df)

0.0469335125403606

In [46]:
import_df.head()

,created_by,episode_run_time,first_air_date,genres,id_show,in_production,last_air_date,name_show,networks,number_of_episodes,number_of_seasons,origin_country,original_language,original_name,popularity,production_companies,status,type,vote_average_show,vote_count_show,air_date,crew,episode_number,guest_stars,id_ep,name_ep,season_number,vote_average_ep,vote_count_ep
0,"({'id': 383, 'credit_id': '525389d019c29579402...","(30,)",1969-01-12,NaN,601,True,1969-02-16,The Complete and Utter History of Britain,"({'name': 'London Weekend Television', 'id': 1...",6.0,1,"(GB,)",en,The Complete and Utter History of Britain,0.6,NaN,Ended,Scripted,0.0,0,1969-01-12,"({'id': 10707, 'credit_id': '525389cd19c295794...",1.0,NaN,34326.0,From the Dawn of History to the Normal Conquest,1.0,0.0,0.0
1,"({'id': 383, 'credit_id': '525389d019c29579402...","(30,)",1969-01-12,NaN,601,True,1969-02-16,The Complete and Utter History of Britain,"({'name': 'London Weekend Television', 'id': 1...",6.0,1,"(GB,)",en,The Complete and Utter History of Britain,0.6,NaN,Ended,Scripted,0.0,0,1969-01-19,"({'id': 10707, 'credit_id': '525389cd19c295794...",2.0,NaN,34328.0,Richard the Lionheart to Robin the Hood,1.0,0.0,0.0
2,"({'id': 383, 'credit_id': '525389d019c29579402...","(30,)",1969-01-12,NaN,601,True,1969-02-16,The Complete and Utter History of Britain,"({'name': 'London Weekend Television', 'id': 1...",6.0,1,"(GB,)",en,The Complete and Utter History of Britain,0.6,NaN,Ended,Scripted,0.0,0,1969-01-26,"({'id': 10707, 'credit_id': '525389cd19c295794...",3.0,NaN,34327.0,Edward the First to Richard the Last,1.0,0.0,0.0
3,"({'id': 383, 'credit_id': '525389d019c29579402...","(30,)",1969-01-12,NaN,601,True,1969-02-16,The Complete and Utter History of Britain,"({'name': 'London Weekend Television', 'id': 1...",6.0,1,"(GB,)",en,The Complete and Utter History of Britain,0.6,NaN,Ended,Scripted,0.0,0,1969-02-02,"({'id': 10707, 'credit_id': '525389cd19c295794...",4.0,NaN,34331.0,Perkin Warbeck to Bloody Mary,1.0,0.0,0.0
4,"({'id': 383, 'credit_id': '525389d019c29579402...","(30,)",1969-01-12,NaN,601,True,1969-02-16,The Complete and Utter History of Britain,"({'name': 'London Weekend Television', 'id': 1...",6.0,1,"(GB,)",en,The Complete and Utter History of Britain,0.6,NaN,Ended,Scripted,0.0,0,1969-02-09,"({'id': 10707, 'credit_id': '525389cd19c295794...",5.0,NaN,34330.0,The Great and Glorious Age of Elizabeth,1.0,0.0,0.0

In [47]:
import_df.genres.value_counts()

TypeError: unhashable type: 'dict'

In [73]:
mlb = MultiLabelBinarizer()

s = import_df.crew

# s = s.loc[s.isnull()].apply(lambda x: [])

pd.DataFrame(mlb.fit_transform(s),columns=mlb.classes_, index=import_df.index)

TypeError: unhashable type: 'dict'

In [74]:
s

0          [{'id': 10707, 'credit_id': '525389cd19c295794...
1          [{'id': 10707, 'credit_id': '525389cd19c295794...
2          [{'id': 10707, 'credit_id': '525389cd19c295794...
3          [{'id': 10707, 'credit_id': '525389cd19c295794...
4          [{'id': 10707, 'credit_id': '525389cd19c295794...
5          [{'id': 10707, 'credit_id': '525389cd19c295794...
6                                                        NaN
7                                                        NaN
8                                                        NaN
9                                                        NaN
10                                                       NaN
11                                                       NaN
12                                                       NaN
13                                                       NaN
14                                                       NaN
15                                                       NaN
16         [{'id': 107063, 'credit_id': '525389d419c29579...
17                                                       NaN
18         [{'id': 107063, 'credit_id': '525389d419c29579...
19                                                       NaN
20                                                       NaN
21                                                       NaN
22         [{'id': 107063, 'credit_id': '525389d419c29579...
23         [{'id': 2647, 'credit_id': '525389d519c2957940...
24                                                       NaN
25                                                       NaN
26                                                       NaN
27         [{'id': 14874, 'credit_id': '525389d519c295794...
28                                                       NaN
29                                                       NaN
                                 ...
1698853                                                  NaN
1698854                                                  NaN
1699072                                                  NaN
1699073                                                  NaN
1699074                                                  NaN
1699075                                                  NaN
1699076                                                  NaN
1699077                                                  NaN
1699078                                                  NaN
1699079                                                  NaN
1699080                                                  NaN
1699081                                                  NaN
1699082                                                  NaN
1699083                                                  NaN
1699084                                                  NaN
1699085                                                  NaN
1699086                                                  NaN
1699087                                                  NaN
1699088                                                  NaN
1699089                                                  NaN
1699090                                                  NaN
1699091                                                  NaN
1699092                                                  NaN
1699093                                                  NaN
1699105    [{'id': 2338980, 'credit_id': '5d05c3979251410...
1699106    [{'id': 2338980, 'credit_id': '5d05c3979251410...
1699107    [{'id': 2338980, 'credit_id': '5d05c3979251410...
1699108    [{'id': 1614014, 'credit_id': '5d05c3f69251416...
1699109                                                  NaN
1699114                                                  NaN
Name: crew, Length: 1089243, dtype: object

In [56]:
import_df.iloc[10,0]

[{'id': 157395,
  'credit_id': '525389dc19c295794023a26d',
  'name': 'Bernard Slade',
  'profile_path': None},
 {'id': 1218969,
  'credit_id': '525389dd19c295794023a275',
  'name': 'Harry Ackerman',
  'profile_path': None}]

In [58]:
import_df.crew.values[0]

[{'id': 10707,
  'credit_id': '525389cd19c2957940239a84',
  'name': 'Terry Jones',
  'department': 'Writing',
  'job': 'Writer',
  'profile_path': '/7YaQ0k5BmUU3MmFvDL72tXl2G0B.jpg'},
 {'id': 383,
  'credit_id': '525389cd19c2957940239a1e',
  'name': 'Michael Palin',
  'department': 'Writing',
  'job': 'Writer',
  'profile_path': '/4x3JaNi3hEh4tdlXbg4dw55X10f.jpg'}]

In [70]:
import_df.head()

,created_by,episode_run_time,first_air_date,genres,id_show,in_production,last_air_date,name_show,networks,number_of_episodes,number_of_seasons,origin_country,original_language,original_name,popularity,production_companies,status,type,vote_average_show,vote_count_show,air_date,crew,episode_number,guest_stars,id_ep,name_ep,season_number,vote_average_ep,vote_count_ep
0,"[{'id': 383, 'credit_id': '525389d019c29579402...",[30],1969-01-12,NaN,601,True,1969-02-16,The Complete and Utter History of Britain,"[{'name': 'London Weekend Television', 'id': 1...",6.0,1,[GB],en,The Complete and Utter History of Britain,0.6,NaN,Ended,Scripted,0.0,0,1969-01-12,"[{'id': 10707, 'credit_id': '525389cd19c295794...",1.0,NaN,34326.0,From the Dawn of History to the Normal Conquest,1.0,0.0,0.0
1,"[{'id': 383, 'credit_id': '525389d019c29579402...",[30],1969-01-12,NaN,601,True,1969-02-16,The Complete and Utter History of Britain,"[{'name': 'London Weekend Television', 'id': 1...",6.0,1,[GB],en,The Complete and Utter History of Britain,0.6,NaN,Ended,Scripted,0.0,0,1969-01-19,"[{'id': 10707, 'credit_id': '525389cd19c295794...",2.0,NaN,34328.0,Richard the Lionheart to Robin the Hood,1.0,0.0,0.0
2,"[{'id': 383, 'credit_id': '525389d019c29579402...",[30],1969-01-12,NaN,601,True,1969-02-16,The Complete and Utter History of Britain,"[{'name': 'London Weekend Television', 'id': 1...",6.0,1,[GB],en,The Complete and Utter History of Britain,0.6,NaN,Ended,Scripted,0.0,0,1969-01-26,"[{'id': 10707, 'credit_id': '525389cd19c295794...",3.0,NaN,34327.0,Edward the First to Richard the Last,1.0,0.0,0.0
3,"[{'id': 383, 'credit_id': '525389d019c29579402...",[30],1969-01-12,NaN,601,True,1969-02-16,The Complete and Utter History of Britain,"[{'name': 'London Weekend Television', 'id': 1...",6.0,1,[GB],en,The Complete and Utter History of Britain,0.6,NaN,Ended,Scripted,0.0,0,1969-02-02,"[{'id': 10707, 'credit_id': '525389cd19c295794...",4.0,NaN,34331.0,Perkin Warbeck to Bloody Mary,1.0,0.0,0.0
4,"[{'id': 383, 'credit_id': '525389d019c29579402...",[30],1969-01-12,NaN,601,True,1969-02-16,The Complete and Utter History of Britain,"[{'name': 'London Weekend Television', 'id': 1...",6.0,1,[GB],en,The Complete and Utter History of Britain,0.6,NaN,Ended,Scripted,0.0,0,1969-02-09,"[{'id': 10707, 'credit_id': '525389cd19c295794...",5.0,NaN,34330.0,The Great and Glorious Age of Elizabeth,1.0,0.0,0.0

In [80]:
import_df.loc[500, 'networks']

[{'name': 'Cartoon Network',
  'id': 56,
  'logo_path': '/c5OC6oVCg6QP4eqzW6XIq17CQjI.png',
  'origin_country': 'US'}]